{{!< layout}}
<header class="aui-page-header">
    <div class="aui-page-header-inner">
        <div class="aui-page-header-main intro-header">
            <div class="speech"><q>It must be because of a leap year. It must be because of a leap year</q></div>
        </div>
    </div>
</header>