.intro-header h1 {
    font-size: 48px;
    line-height: 60px;
    padding-top: 20px;
}

.intro-header p.subtitle {
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 20px;
}

.main-panel .aui-page-panel-item {
    padding: 20px 40px 20px 0;
    height: 100px;
}

.quote {
    display: block;
    height: 200px;
    width: 300px;
    border: 1px dashed #000000;
    box-sizing: border-box;
    padding: 10px;
}

body {
    background-color: #ffffff;
}

div.speech {
    display: table;
    position: relative;
    width: 300px;
    height: 100px;
    text-align: center;
    background-color: #fff;
    border: 8px solid #205081;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
}

div.speech q {
    display: table-cell;
    vertical-align: middle;
    position: relative;
}

div.speech:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 30px;
    top: 100px;
    border: 25px solid;
    border-color: #205081 transparent transparent #205081;
}

div.speech:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 38px;
    top: 100px;
    border: 15px solid;
    border-color: #fff transparent transparent #fff;
}

#content {
    height: 200px;
}